@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: flex;
  justify-content: center;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  top: 350px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
  font-family: "Nunito Sans", sans-serif;
  z-index: 101;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.button {
  margin-top: 20px;
}
