@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 340px;
  min-height: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 24px 22px;
  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  font-family: "Nunito Sans", sans-serif;
  color: #333333;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

.title {
  margin-bottom: 25px;
  font-weight: 600;
  text-align: center;
}

.item {
  cursor: pointer;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #dddddd;
  width: 100%;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.empty-cart-title {
  color: #888888;
  margin-bottom: 15px;
}

.empty-cart-icon {
  height: 180px;
}