<div class="wrapper">

  <div class="container" *ngIf="isVisible">
    <ng-template [ngIf]="getItems() !== null && getItems().length > 0">
      <h1 class="title">Your order</h1>

      <ng-template ngFor let-item [ngForOf]="getItems()" let-i="index">
        <app-cart-item class="item" [item]="item" (click)="handleItemClick(item)" (removeButtonClick)="removeItem(item.id)"></app-cart-item>
        <hr *ngIf="i < getItems().length - 1" />
      </ng-template>

      <div class="total">
        <h1>Total</h1>
        <h1>{{ totalPrice | currency: "USD":"symbol":".0-2" }}</h1>
      </div>

      <a routerLink="/checkout">
        <app-button class="button">Proceed to checkout</app-button>
      </a>
    </ng-template>

    <ng-template [ngIf]="items && items.length === 0">
      <h2 class="empty-cart-title">Your cart is empty</h2>
      <img class="empty-cart-icon" src="/assets/icons/empty-cart-icon.svg" />
    </ng-template>
  </div>

</div>
